Source: robofab
Section: fonts
Priority: optional
Maintainer: Hideki Yamane <henrich@debian.org>
Build-Depends: debhelper (>= 9), dh-python,
               python-all,
               fonttools,
Standards-Version: 3.9.6
Homepage: http://robofab.org/
#Vcs-Git: git://anonscm.debian.org/collab-maint/robofab.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/robofab.git;a=summary

Package: python-robofab
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: library with objects deal with data associated with fonts and type design
 RoboFab is a Python library with objects that deal with data usually
 associated with fonts and type design. RoboFab has support for the UFO
 font format.
